{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-adsense-account" content="ca-pub-1213055446875408">
  <meta name="keywords" content="notícias mercado financeiro, economia, análises financeiras, charges IA, inteligência artificial, imagens criadas por IA, tendências econômicas">
  <meta name="description" content="notícias mercado financeiro, economia, análises financeiras, charges IA, inteligência artificial, imagens criadas por IA, tendências econômicas">
  <!-- <meta property="og:description" content="Notícias atualizadas sobre o mercado financeiro, análises de tendências econômicas e charges criadas por IA." />
  <meta property="og:title" content="estampaverso.shop" />
  <meta property="og:image" content="{% static 'images/og-image.jpg' %}" />
  <meta property="og:url" content="https://www.estampaverso.shop" />
  <meta property="og:type" content="website" /> -->
  
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/painel_metrics_posts.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/posts.css' %}">
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" href="{% static 'css/popups.css' %}">
  <link rel="stylesheet" href="{% static 'css/post_tools.css' %}">
  <link rel="stylesheet" href="{% static 'css/divider.css' %}">
  
  <link rel="icon" href="/media/images/favicon.png" sizes="192x192">
  
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  
  <!-- Preload recursos críticos -->
  <link rel="preload" href="{% static 'css/style.css' %}" as="style">
  <!-- <link rel="preload" href="{% static 'js/script.js' %}" as="script"> -->
  
  <!-- Schema Markup (JSON-LD) -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://www.estampaverso.shop",
      "name": "Estampa Verso",
      "description": "Notícias sobre o mercado financeiro, tendências econômicas e charges criadas por IA.",
      "publisher": {
        "@type": "Organization",
        "name": "Estampa Verso",
        "logo": {
          "@type": "ImageObject",
          "url": "/media/images/favicon.png"
        }
      }
    }
  </script>
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1213055446875408" crossorigin="anonymous"></script>
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5MD7KLXN');
  </script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MD7KLXN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
    
    {% include 'snippets/navbar/navbar.html' %}
    
    {% block content %}
    {% endblock %}

    {% include 'snippets/footer/footer.html' %}

    <!-- Banner de Cookies -->
    <div id="cookie-banner" style="text-align: center; display: none;">
        <p>Este site usa cookies para melhorar a sua experiência. Ao continuar a navegar, você aceita nossa <a href="{% url 'privacidade' %}" style="color: #d6ff00;">Política de Cookies</a>.</p>
        <button id="accept-cookies" style="background-color: #ffffff; color: #333; padding: 10px 20px; border: none; cursor: pointer;">continuar e fechar</button>
        <!-- <button id="decline-cookies" style="background-color: #f44336; color: white; padding: 10px 20px; border: none; cursor: pointer;">Rejeitar Cookies</button> -->
    </div>
</body>
</html>


<script >
    function popupShow(){
        const container_popup = document.querySelector(".container-popup");
        window.scroll(0,0);
        container_popup.classList.add("active");
        document.body.style.overflow = "hidden";
        try {
          document.querySelector(".message-form").textContent = "";
        } catch (error) {console.log(error)}
    }
    function popupClose(){
        const container_popup = document.querySelector(".container-popup");
        document.body.style.overflow = "scroll";
        container_popup.classList.remove("active");
    }

</script>

<script >
  // Função para verificar se o usuário já aceitou os cookies
  function checkCookieConsent() {
      // Verificar se o consentimento de cookies foi armazenado no localStorage
      const cookiesAccepted = localStorage.getItem('cookiesAccepted');
      if (!cookiesAccepted) {
          // Se não foi aceito ainda, mostrar o banner de cookies
          document.getElementById('cookie-banner').style.display = 'block';
      }
  }

  // Função para aceitar os cookies
  document.getElementById('accept-cookies').onclick = function() {
      // Ocultar o banner de cookies
      document.getElementById('cookie-banner').style.display = 'none';

      // Armazenar no localStorage que o usuário aceitou os cookies
      localStorage.setItem('cookiesAccepted', 'true');

      // Aqui você pode permitir os cookies de terceiros (por exemplo, configurar o AdSense)
      // Exemplo: ativar scripts relacionados ao Google Analytics ou AdSense
      enableCookies();
  };
  
  // Função para ativar cookies (exemplo: Google Analytics ou AdSense)
  function enableCookies() {
      // Exemplo de inclusão do script do Google AdSense
      const adsenseScript = document.createElement('script');
      adsenseScript.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js';
      adsenseScript.async = true;
      document.head.appendChild(adsenseScript);

      // Definir o cookie de consentimento com os atributos SameSite=None e Secure
      document.cookie = "cookie_consent=true; path=/; max-age=" + 60 * 60 * 24 * 365 + "; Secure; SameSite=None"; // 1 ano
      
      // Aqui você pode adicionar outros cookies de terceiros que precisa configurar, com os mesmos atributos:
      // document.cookie = "third_party_cookie=true; path=/; max-age=" + 60 * 60 * 24 * 365 + "; Secure; SameSite=None";
  }

  // Função para desativar cookies (não carregar scripts de terceiros)
  function disableCookies() {
      // Aqui você pode limpar os cookies ou não carregar o script de anúncios.
      // Por exemplo, não adicionar o script do AdSense e não setar cookies de terceiros
  }

  // Verificar se o usuário já fez a escolha e exibir o banner se necessário
  checkCookieConsent();
</script>


<!-- Google tag (gtag.js) -->
<script defer id="gtag-script">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-CJS2HECV98');
</script>

<script>
  // Função para ativar o Google Tag Manager depois do consentimento
  function enableGoogleTagManager() {
    const script = document.createElement('script');
    script.src = "https://www.googletagmanager.com/gtag/js?id=G-CJS2HECV98";
    script.async = true;
    document.head.appendChild(script);
  }

  // Função para ativar os cookies
  function enableCookies() {
    // Aqui você ativa o GTAG e outros serviços como Google Analytics
    enableGoogleTagManager();
  }

  // Verifica o consentimento de cookies do usuário
  document.getElementById('accept-cookies').onclick = function() {
    localStorage.setItem('cookiesAccepted', 'true');
    document.getElementById('cookie-banner').style.display = 'none'; // Ocultar banner
    enableCookies(); // Ativar scripts do Google
  };
</script>