{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/painel_metrics_posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/popups.css' %}">
    
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    
    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1213055446875408"
     crossorigin="anonymous"></script> -->
</head>
<body>
    
    {% include 'snippets/navbar/navbar.html' %}
    
    {% block content %}
    {% endblock %}

    {% include 'snippets/footer/footer.html' %}
</body>
</html>


<script>
    function popupShow(){
        const container_popup = document.querySelector(".container-popup");
        window.scroll(0,0);
        container_popup.classList.add("active");
        document.body.style.overflow = "hidden";
    }
    function popupClose(){
        const container_popup = document.querySelector(".container-popup");
        document.body.style.overflow = "scroll";
        container_popup.classList.remove("active");
    }
</script>