{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1213055446875408"
     crossorigin="anonymous"></script> -->
</head>
<body>
    
    {% include 'snippets/navbar/navbar.html' %}
    
    {% block content %}
    {% endblock %}
</body>
</html>