{% load static %}
<footer class="footer">
    <div class="footer-sections">
        <div class="footer-section">
            <h3>Fatos&Dados</h3>
            <ul>
                <li><a href="{% url 'home' %}">Início</a></li>
                <li><a href="{% url 'post_list' %}">Posts</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Suporte</h3>
            <ul>
                <li><a href="{% url 'contato' %}">Fale Conosco</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Legal</h3>
            <ul>
                <li><a href="{% url 'privacidade' %}">Política de Privacidade</a></li>
                <li><a href="{% url 'termos' %}">Termos de Serviço</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Social</h3>
            <ul>
                <li><a href="https://www.linkedin.com/in/leonardosantos2019/" style="color: #0a66c2;">LinkedIn</a></li>
                <li><a href="https://github.com/LeonardoHSantos" style="color:#010409;">Meus Projetos no GitHub</a></li>
                <li><a href="https://wa.me/5541988412653" style="color: #25d366;">Fale comigo pelo WhatsApp</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Leonardo.H.Santos © 2024 Fatos&Dados</p>
    </div>
</footer>
