{% extends 'base.html' %}
{% load static %}
{% block title %} Painel - Métricas de Posts {% endblock %}
{% block content %}

<h1 class="principal-title" style="margin: 14px 0;"> Bem vindo(a) as métricas dos Posts </h1>

<div class="container-principal">
    
    <main class="painel-metrics-posts">

        <div class="block-chart">
          <div class="chart">
            <canvas id="chart-01"></canvas>
          </div>

          <div class="chart">
            <canvas id="chart-02"></canvas>
          </div>
        </div>

        <div class="block-chart">
          <div class="chart">
            <canvas id="chart-03"></canvas>
          </div>
        </div>
       
    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script>

Chart.register(ChartDataLabels);

// Definindo as cores diretamente em formato RGB
const CHART_COLORS = {
  black: [0, 0, 0],
  blue: [54, 162, 235]
};
// Função para gerar a cor transparente
function transparentize(color, opacity) {
  return `rgba(${color[0]}, ${color[1]}, ${color[2]}, ${opacity})`;
}

function Chart_01(data){

  const metrics_chart = data["data_months"];
  const labels = metrics_chart.labels;
  const data_chart = {
    labels: labels,
    datasets: [
      {
        label: 'Total de Visitantes',
        data: metrics_chart.values,
        borderColor: `rgb(${CHART_COLORS.black.join(",")})`,
        backgroundColor: transparentize(CHART_COLORS.black, 0.5),
      },
    ]
  };
  
  const ctx = document.getElementById('chart-01');
  const label_slice = 8;

  new Chart(ctx, {
    type: 'line',
    data: data_chart,
    responsive: true,
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Relatório de Visualizações - Mensal',
          color: 'black',
          font: {
            size: 16
          }
        },
        datalabels: { 
          anchor: 'end', 
          align: 'top', 
          formatter: (value, context) => { 
            return value; 
          } 
        }
      },
      scales: {
        x: {
          ticks: {
            callback: function(val, index){

              let value = this.getLabelForValue(val);
              let lable_tt = value.length;
              return lable_tt >= label_slice ? value.slice(0,label_slice) : value
              
            }
          }
        },
        y: {
          beginAtZero: true
        }
      }
    }
  });
}

function Chart_02(data) {

  const metrics_chart = data["data_days"];
  const labels = metrics_chart.labels;
  const values = metrics_chart.values;

  // Calcular a média
  const average = values.reduce((sum, value) => sum + value, 0) / values.length;

  // Gerar um array com o valor da média para todas as posições (para desenhar a linha)
  const averageValues = new Array(values.length).fill(average);

  const data_chart = {
    labels: labels,
    datasets: [
      {
        label: 'Total de Visitantes',
        data: values,
        borderColor: `black`,
        backgroundColor: 'black',
        fill: false, // Não preenche a área sob a linha
        tension: 0.1 // Suaviza a linha
      },
      {
        label: 'Média de Visitantes',
        data: averageValues, // Array de valores de média
        borderColor: 'orange', // Cor da linha de média
        backgroundColor: 'orange',
        borderWidth: 2, // Largura da linha de média
        // borderDash: [5, 5], // Linha tracejada
        fill: false, // Não preenche a área
        tension: 0.1, // Suaviza a linha,
        pointRadius: 1.5,
        datalabels: {
          display: false // Desativa os rótulos de dados para a linha de média
        }
      }
    ]
  };

  const ctx = document.getElementById('chart-02');
  const label_slice = 8;

  new Chart(ctx, {
    type: 'line',
    data: data_chart,
    responsive: true,
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Relatório de Visualizações - Dia',
          color: 'black',
          font: {
            size: 16
          }
        },
        datalabels: { 
          anchor: 'end', 
          align: 'top', 
          formatter: (value, context) => { 
            return value; 
          } 
        }
      },
      scales: {
        x: {
          ticks: {
            callback: function(val, index){
              let value = this.getLabelForValue(val);
              let label_tt = value.length;
              return label_tt >= label_slice ? value.slice(0, label_slice) : value;
            }
          }
        },
        y: {
          beginAtZero: true
        }
      }
    }
  });
}

function Chart_03(data){

  const metrics_chart = data["data_rank_top_5"];
  const labels = metrics_chart.labels;
  const data_chart = {
    labels: labels,
    datasets: [
      {
        label: 'Total de Visitantes',
        data: metrics_chart.values,
        borderColor: `#0041ff`,
        backgroundColor:'#0041ff',
      },
    ]
  };
  
  const ctx = document.getElementById('chart-03');
  const label_slice = 12;

  new Chart(ctx, {
    type: 'bar',
    data: data_chart,
    responsive: true,
    options: {
      indexAxis: 'y',
      plugins: {
        title: {
          display: true,
          text: 'Rank - 5 Posts Mais Acessados',
          color: 'black',
          font: {
            size: 16
          }
        },
        datalabels: { 
          anchor: 'end', 
          align: 'top', 
          formatter: (value, context) => { 
            return value; 
          } 
        }
      },
      scales: {
        y: {
          ticks: {
            callback: function(val, index){

              let value = this.getLabelForValue(val);
              let lable_tt = value.length;
              return lable_tt >= label_slice ? value.slice(0,label_slice) + "..." : value
            }
          }
        },
        x: {
          beginAtZero: true
        }
      }
    }
  });
}


let url = "{% url 'api_post_metrics' %}";
fetch(url, {
  method: "GET",
  headers: {},
})
.then((response) => response.json())
.then((response) => {

  Chart_01(response);
  Chart_02(response);
  Chart_03(response);



});



</script>

{% endblock %}

