{% load static %}
<div class="block-user-account">
    <div class="contact-container">
        <div class="header-form">
            <h1>Entre em sua conta</h1>
        </div>
    </div>
    <form class="contact-form" id="loginForm">
        <div class="input">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="e-mail" autocomplete="email">
        </div>
        <div class="input">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="senha" autocomplete="password">
        </div>

        <div class="messages">
            <p class="message-form-login" style="text-align: center;"></p>
        </div>

        <div class="input">
            <button type="submit">Entrar</button>
        </div>
        <div class="input">
            <button type="button" style="background-color: black;" onclick="popupClose(this);">Cancelar</button>
        </div>
    </form>

    <div class="block-user-account-register">
        <a href="{% url 'register' %}">Criar uma conta</a>
    </div>
</div>

<script>
    // Função que previne o envio do formulário e faz a requisição fetch
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Impede o envio padrão do formulário

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const message_form_login = document.querySelector(".message-form-login");

        fetch('{% url "login_api_v1" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ email: email, password: password })
        })
        .then(response => response.json())
        .then(data => {

            

            if (data.code == 200) {
                message_form_login.textContent = "";
                window.location.reload();
            } else {
                message_form_login.textContent = data.message;
                message_form_login.style.color = "red";
            }
        })
        .catch(error => {
            console.error('Erro na requisição:', error);
        });
    });
</script>
