{% extends 'base.html' %}
{% load static %}
{% block title %} Novo Post {% endblock %}

{% block content %}
<div class="contact-container">
    <div class="header-form">
        <h1>Novo Post</h1>
        <!-- <p>Entre em contato conosco preenchendo o formulário abaixo:</p> -->
    </div>

    <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data" class="contact-form">
        {% csrf_token %}
        <div class="input">
            <label for="title">Título</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div class="input">
            <label for="author">Autor</label>
            <input type="text" id="author" name="author" value="{{ user.name }}" readonly required style="color: rgb(129, 118, 118);">
        </div>

        <div class="input">
            <label for="content">Conteúdo</label>
            <textarea id="content" name="content" rows="5" required></textarea>
        </div>

        <div class="input">
            <label for="content">Imagem de Capa</label>
            <input type="file" id="cover_image" name="cover_image" accept="image/*">
        </div>

        <button type="submit">Salvar Post</button>

        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <a href="{% url 'post_list' %}"
                style="
                    text-decoration: none;
                    color: white;
                    font-size: 1rem;
                    width: 100%;
                    background: black;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 12px 0px;
                    border-radius: 4px;
                "
            >Voltar</a>
        </div>
    </form>

</div>
{% endblock %}