{% extends 'base.html' %}
{% load static %}
{% block title %} Novo Post {% endblock %}

{% block content %}
<div class="contact-container">
    <div class="header-form">
        <h1>Editar Post</h1>
        <!-- <p>Entre em contato conosco preenchendo o formulário abaixo:</p> -->
    </div>

    {% if post.no_access_post %}
        <div style="height: 20vh; display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <h3>Você não tem permissão para editar esse Post.</h3>
        </div>
    {% else %}
        <form action="{% url 'post_edit' post.id %}" method="post" enctype="multipart/form-data" class="contact-form">
            {% csrf_token %}
            <div class="input">
                <label for="title">Título</label>
                <input type="text" id="title" name="title" value="{{ post.title }}" required>
            </div>

            <div class="input">
                <label for="author">Autor</label>
                <input type="text" id="author" name="author" value="{{ post.author }}" required readonly>
            </div>

            <div class="input">
                <label for="content">Conteúdo</label>
                <textarea id="content" name="content" rows="5" required>{{ post.content }}</textarea>
            </div>

            {% if post.cover_image %}
                <div class="input-image">
                    <img src="{{ post.cover_image.url }}" id="preview_image" alt="Imagem de Capa Atual" style="max-width: 200px; height: auto;">
                </div>
            {% endif %}
            
            <div class="input">
                <label for="content">Imagem de Capa</label>
                <input type="file" id="cover_image" name="cover_image" accept="image/*">
            </div>

            <button type="submit">Salvar Post</button>
            
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                <a href="{% url 'post_list' %}"
                    style="
                        text-decoration: none;
                        color: white;
                        font-size: 1rem;
                        width: 100%;
                        background: black;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 12px 0px;
                        border-radius: 4px;
                    "
                >Voltar</a>
            </div>

        </form>
    {% endif %}
</div>


<script>
    document.getElementById('cover_image').addEventListener('change', function (event) {
        const input = event.target;
        const previewImage = document.getElementById('preview_image');
        
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                previewImage.src = e.target.result; // Define o novo src da imagem
            };

            reader.readAsDataURL(input.files[0]); // Lê o arquivo como DataURL
        }
    });
</script>
{% endblock %}