{% extends 'base.html' %}
{% load static %}
{% block title %}Posts{% endblock %}
{% block content %}

    <h1 style="margin: 14px 0;">Fique por dentro das notícias</h1>

    <div class="container-principal">
        
        <aside class="post-latest-news">
            <div>
                <h3>últimas publicações</h3>
            </div>
            
            <ul class="container-posts">
                {% for post in latest_posts %}
                    <li class="post">
                        <a href="{% url 'post' post_id=post.id title_post=post.title %}">
                            <div class="content-post">
                                                       
                                <div class="post-datails">
            
                                    <p class="post-create-at">
                                        <!-- <span>Publicado:</span> -->
                                        <span>{{ post.created_at }}</span>
                                    </p>
    
                                    <h2 class="title-mini-post">
                                        {{ post.title|truncatechars:40 }}
                                    </h2>
            
                                    <p class="post-content">
                                        {{ post.content|truncatechars:43 }}
                                    </p>
                                    <!-- <p class="post-author">
                                        <small>Publicado por: {{ post.author }}</small>
                                    </p> -->
                                </div>
    
                                <div class="post-image">
                                    {% if post.cover_image %}
                                        <img src="{{ post.cover_image.url }}" alt="Imagem de Capa">
                                    {% endif %}
                                </div>
    
                            </div>
                        </a>
                    </li>
                    
                    
                {% endfor %}
            </ul>
            
        </aside>

        <main class="main-posts">
            <ul class="container-posts">
                {% for post in posts %}
                    <li class="post">
                        <a  href="{% url 'post' post_id=post.id title_post=post.title %}">
                            <div class="content-post">
                                                       
                                <div class="post-datails">
            
                                    <p class="post-create-at">
                                        <!-- <span>Publicado:</span> -->
                                        <span>{{ post.created_at }}</span>
                                        <span>Visualizações: {{post.number_of_visitors}}</span>
                                    </p>
    
                                    <h2>
                                        {{ post.title }}
                                    </h2>
            
                                    <p class="post-content">
                                        {{ post.content|truncatechars:55 }}
                                    </p>
                                    <!-- <p class="post-author">
                                        <small>Publicado por: {{ post.author }}</small>
                                    </p> -->
                                </div>
    
                                <div class="post-image">
                                    {% if post.cover_image %}
                                        <img src="{{ post.cover_image.url }}" alt="Imagem de Capa">
                                    {% endif %}
                                </div>
    
                            </div>
                        </a>

                        {% if user.is_authenticated %}
                            <div class="post-tools-admin">
                                <ul>
                                    <li><a href="{% url 'post_edit' post_id=post.id %}">edit</a></li>
                                </ul>
                            </div>
                        {% endif %}
                        
                    </li>
                    
                    
                {% endfor %}
            </ul>
        </main>

        <div class="post-adsense">
            <div>
                <h3>publicidades</h3>
            </div>
            <div class="adsense"></div>
            <div class="adsense"></div>
            <div class="adsense"></div>
        </div>

    </div>

{% endblock %}