{% extends 'base.html' %}
{% load static %}
{% block title %} Editar Post {% endblock %}

{% block content %}

<div class="container-popup">
    {% include 'snippets/popups/generate_post_text_with_groq_IA.html' %}
</div>

<div class="container">
    <!-- Barra de Ferramentas -->
    <div class="sidebar">
        <h2>Ferramentas</h2>
        <ul>
            <li><button onclick="popupShow(this);">
                <span>Gerar Texto com IA</span>
                <i class="fa-solid fa-brain"></i>
            </button></li>
        </ul>
    </div>
    
    <div class="main-content">
        <h1>Editar Post</h1>
        <form action="{% url 'post_edit' post_id=post.pk %}" class="generic-form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="input">
                <label for="title">Título do Post</label>
                <input type="text" id="title" name="title" value="{{ post.title }}" required>
            </div>

            <div class="post-image">
                <img id="preview_image" class="" src="{{ post.cover_image.url }}" alt="{{ post.cover_image }}">
            </div>

            <div class="input">
                <label for="cover_image">Imagem</label>
                <input type="file" id="cover_image" name="cover_image" accept="image/*">
            </div>
            <div class="input">
                <label for="content">Conteúdo</label>
                <textarea id="content" name="content" rows="10" required>{{ post.content }}</textarea>
            </div>
            <div class="input">
                <label for="category">Categoria</label>
                <select id="category" name="category" required>
                    {% for k,v in categories.items %}
                        <option value="{{ k }}" {% if post.category == k %} selected {% endif %} >{{ v }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                {% if form_error %}
                    <p class="content-error">{{ error }}</p>
                {% endif %}
            </div>

            <div style="display: flex; flex-direction: column; gap: 10px; margin-top: 20px;">

                <button type="submit">Salvar</button>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                    <a href="{% url 'post_list' %}"
                        style="
                            text-decoration: none;
                            color: white;
                            font-size: 1rem;
                            width: 100%;
                            background: black;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 12px 0px;
                            border-radius: 4px;
                        "
                    >Voltar</a>
                </div>

            </div>

        </form>
    </div>
</div>


<script>
    function previewImagem(){
        // Verifica se o src da imagem está vazio
        const postImageDiv = document.getElementById("preview_image");

        if (postImageDiv.src != window.location.href) {
            postImageDiv.classList.add("active");
        } else {
            postImageDiv.classList.remove("active");
        }
    }
    window.onload = function() {
        previewImagem();
    };
</script>

<script>
    document.getElementById('cover_image').addEventListener('change', function (event) {
        const input = event.target;
        const previewImage = document.getElementById('preview_image');
        
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                previewImage.src = e.target.result; // Define o novo src da imagem
                document.getElementById("preview_image").classList.add("active");
            };

            reader.readAsDataURL(input.files[0]); // Lê o arquivo como DataURL
        }
    });
</script>

{% endblock %}