{% extends 'base.html' %}
{% load static %}
{% block title %}Post{% endblock %}
{% block content %}

    <h1>{{ post.title }}</h1>

    <div class="container-principal">

        
        
        <aside class="main-post">
            <div class="post-image">
                <img src="{{ post.cover_image.url  }}" alt="">
            </div>
            
            <p>{{ post.title }}</p>
            <p>{{ post.author }}</p>
            <p>{{ post.content }}</p>
            <p>{{ post.created_at }}</p>
            <p>{{ post.number_of_visitors }}</p>
        </aside>

       

        <div class="post-adsense">
            <div>
                <h3>publicidades</h3>
            </div>
            <div class="adsense"></div>
            <div class="adsense"></div>
            <div class="adsense"></div>
            <div class="adsense"></div>
            <div class="adsense"></div>
        </div>

    </div>

{% endblock %}