{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

    <!-- <div class="banner-adsense">
        <div class="adsense">

        </div>
    </div> -->
    <div class="title-page">
        <h1 class="principal-title" style="padding: 25px 0;">{{ post.title }}</h1>
    </div>

    <div class="container-popup">
        {% include 'snippets/popups/login.html' %}
    </div>

    <div class="container-principal">

        <aside class="main-post">

            <div class="post-image">
                <img src="{{ post.cover_image.url }}" alt="{{ post.cover_image.url }}">
            </div>
            <div class="info-post">
                <p class="font-image">Fonte: imagem criada com auxílio de IA, por Leonardo H Santos</p>
            </div>
            
            <div class="post-actions">
                <div class="action">
                    {% if post.post_like %}
                        <i class="fa-regular fa-heart like liked" data-action="{{ post.id }}" onclick="postLike(this);" title="Curtir/Descurtir"></i>
                    {% else %}
                        <i class="fa-regular fa-heart like" data-action="{{ post.id }}" onclick="postLike(this);" title="Curtir/Descurtir"></i>
                    {% endif %}
                </div>
                <div class="action">
                    <i class="fa-regular fa-comment comment developing" title="Comentar"></i>
                </div>
                <div class="action">
                    <i class="fa-solid fa-share-nodes share" onclick="postShare(this);" title="Copiar link"></i>
                    <span class="message-action-icon share">
                        <p>Link copiado</p>
                    </span>
                </div>
            </div>
            <div class="info-post">
                <p>{{ post.created_at }}</p>
                <p>Autor: {{ post.author }}</p>
            </div>

            <div class="content">
                <p>{{ post.content|linebreaksbr }}</p>
            </div>
            
            <div class="info">
                
                {% if user.is_authenticated %}
                    {% if user.id == post.user_id %}
                        <div class="post-tools-admin">
                            <ul>
                                <li><a href="{% url 'post_edit' post_id=post.id %}">editar</a></li>
                                <li><a href="{% url 'post_delete' post_id=post.id %}">excluir</a></li>
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            </div>


        </aside>

        <aside class="post-latest-news">
            <div class="block-title">
                <h3>recomentações</h3>
            </div>
            
            <ul class="container-posts">
                {% for post in latest_posts %}
                    <li class="post">
                        <a href="{% url 'post' post_id=post.id title_post=post.alternative_title %}">
                            <div class="content-post">
                                                       
                                <div class="post-datails">
            
                                    <p class="post-create-at">
                                        <!-- <span>Publicado:</span> -->
                                        <span>{{ post.created_at }}</span>
                                    </p>
    
                                    <h2 class="title-mini-post">
                                        {{ post.title|truncatechars:40 }}
                                    </h2>
            
                                    <p class="post-content mini-post">
                                        {{ post.content|truncatechars:43 }}
                                    </p>
                                    <!-- <p class="post-author">
                                        <small>Publicado por: {{ post.author }}</small>
                                    </p> -->
                                </div>
    
                                <div class="post-image">
                                    {% if post.cover_image %}
                                        <img src="{{ post.cover_image.url }}" alt="Imagem de Capa">
                                    {% endif %}
                                </div>
    
                            </div>
                        </a>
                    </li>
                    
                    
                {% endfor %}
            </ul>
            
        </aside>

    </div>


<script>
    function postLike(e){
        const post_id = e.getAttribute("data-action");
        const urlPostLike = "{% url 'api_post_like' %}";
        const csrftoekn = "{{ csrf_token }}";
        const data = {"post_id": post_id};
        const headers = {
            "X-CSRFToken": csrftoekn
        }

        if (e.classList.contains("liked")){
            data.action = "dislike";
            
        } else {
            data.action = "liked";
        }

        fetch(urlPostLike, {
            method: "post",
            headers: headers,
            body: JSON.stringify(data)
        })
        .then((data)=>{
            return data.json();
        })
        .then((data)=>{
            if(data.code == 200){
                if(data.action == "liked"){
                    e.classList.add("liked");
                }
                else {
                    e.classList.remove("liked");
                }
            }
            else if(data.code == 404){
                popupShow();
            }
            else {
                console.log(data)
            }
        });
    }
</script>

<script>

    function postShare(e) {
        // Obtém o URL da página atual
        var url = window.location.href;
        const info_action_share = document.querySelector(".message-action-icon.share");

        // Copia o URL para a área de transferência
        navigator.clipboard.writeText(url).then(function() {
            info_action_share.classList.add("active");
            e.classList.add("active");
            setTimeout(()=>{
                e.classList.remove("active");
            }, 200);
            setTimeout(()=>{
                info_action_share.classList.remove("active");
            }, 1800);
            
        }).catch(function(error) {
            // Se houve algum erro, exibe uma mensagem de erro
            console.error('Erro ao copiar o link: ', error);
        });
    }
</script>


{% endblock %}