{% extends 'base.html' %}
{% load static %}
{% block title %} Sobre {% endblock %}

{% block content %}
<div class="about-container">
    <h1>Sobre Nós</h1>
    <p>
        Bem-vindo ao <strong>Fatos&Dados</strong>! Somos uma empresa dedicada a levar até você informações do mercado financeiro com um toque especial de humor.
    </p>
    <p>
        Nossa missão é transformar dados complexos em informações acessíveis e divertidas, ajudando você a entender o mundo das finanças sem abrir mão de um sorriso.
    </p>
    <p>
        Acreditamos que o mercado financeiro não precisa ser um mistério nem uma chatice! E estamos aqui para provar que é possível unir análise financeira séria com descontração, proporcionando conteúdo de valor que informa e entretém ao mesmo tempo.
    </p>
    <p>
        Quer você seja um investidor experiente ou alguém curioso para aprender mais, nosso objetivo é manter você bem informado de maneira leve e criativa.
    </p>
    <p>Entre em contato conosco e acompanhe nossas redes sociais para se divertir e aprender sobre o mundo das finanças com o <strong>Fatos&Dados</strong>!</p>
</div>
{% endblock %}
