.painel-metrics-posts,
.painel-metrics-posts .block-chart,
.painel-metrics-posts .block-chart .chart {
    width: 100%;
    /* height: 65vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.painel-metrics-posts {
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.painel-metrics-posts .block-chart {
    gap: 10px;
    width: 90vw;
}
.painel-metrics-posts .block-chart .chart {
    width: 44vw;
    height: 300px;
    background: white;
}


@media (max-width: 900px) {
    .painel-metrics-posts {
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .painel-metrics-posts .block-chart {
        justify-content: center;
    }
    .painel-metrics-posts .block-chart .chart {
        width: 95vw;
    }
    .painel-metrics-posts,
    .painel-metrics-posts .block-chart .chart {
        height: 100% !important;
    }

}
@media (max-width: 600px) {
    .painel-metrics-posts .block-chart .chart {
        width: 85vw;
        height: 38vh;
        background: white;
    }
}