.container-principal,
.container-posts,
.container-posts .post,
.container-posts .post .content-post {
    display: flex;
}


.container-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.main-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
}

.container-posts {
    width: 100%;
    flex-direction: column;
}
.container-posts .post {
    max-width: 100%;
    flex-direction: column;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgb(128, 129, 124);
}
.container-posts .post a {
    color: black;
    text-decoration: none;
}

.container-posts .post .content-post {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.container-posts .post .content-post .post-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 36vh;
}
.container-posts .post .content-post .post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-posts .post .content-post .post-create-at {
    font-size: 0.855rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container-posts .post .content-post .post-datails {
    width: 45%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}
.container-posts .post .content-post .post-datails h2 {
    text-decoration: underline;
}
.container-posts .post .content-post .post-datails .title-mini-post {
    width: 100%;
    font-size: 0.755rem;
}

.container-posts .post .content-post .post-content {
    color: #2d2e37;
    font-size: 1.455rem;
}


/* ------------------------------ POST ASIDE ------------------------------ */
.post-latest-news,
.post-adsense {
    width: 20vw;
    position: sticky;
    top: 110px;
    /* margin-top: 10px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    
}

.post-latest-news,
.post-adsense {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px 10px;
    gap: 10px;
}

.post-latest-news .latest-news,
.post-adsense .adsense {
    width: 100%;
    background-color: #c7c79c;
}
.post-latest-news .latest-news {
    height: 85px;
}
.post-adsense .adsense {
    height: 145px;
}

.post-latest-news .container-posts {
    gap: 4px;
}
.post-latest-news .container-posts .post {
    margin: 0;
    padding: 4px;
}
.post-latest-news .container-posts .post .content-post {
    gap: 0;
}
.post-latest-news .container-posts .post .content-post .post-datails {
    width: 46%;
}
.post-latest-news .container-posts .post .content-post .post-content {
    font-size: 12px;
}
.post-latest-news .container-posts .post .content-post .post-image {
    width: 40%;
    max-height: 22vh;
}

/* ------------------------ POST TOOLS ADMIN ------------------------ */

.post-tools-admin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 5px;
    border-top: 1px solid #c9cad3;
    border-radius: 2px;
    /* background-color: rgb(235, 245, 245); */
}
.post-tools-admin ul,
.post-tools-admin ul li {
    margin: 0;
    padding: 0;
}
.post-tools-admin ul {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.post-tools-admin ul li a {
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #6b6c74;
    color: #6b6c74;
}
.post-tools-admin ul li a:hover {
    color: black;
}