{% load static %}

<div class="conatainer-navbar">
    <nav class="navbar">
        
        <ul class="navbar-links">
    
            <li><a href="{% url 'home' %}">Fatos&Dados</a></li>
    
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'post_list' %}">Posts</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
            <li><a href="{% url 'termos' %}">Termos</a></li>
        </ul>
        <div class="navbar-user">
    
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="navbar-user-logout">
                <span>Sair</span>
            </a>
            {% else %}
                <a href="{% url 'login' %}" class="navbar-user-login">
                    <span>Login</span>
                </a>
    
                <a href="{% url 'register' %}" class="navbar-user-register">
                    <span>Cadastro</span>
                </a>
            {% endif %}
        </div>
    </nav>

    {% if user.is_authenticated %}
        <div class="tools">
            <ul>
                <li><a href="{% url 'create_post' %}">Novo Post</a></li>
            </ul>
        </div>
    {% endif %}
</div>