{% load static %}

<div class="conatainer-navbar">

    <div class="menu-icon-mobile">

        <div class="logo-menu-mobile">
            <a href="{% url 'home' %}">estampaverso</a>
        </div>
      
        <ul>
            <li class="icon-menu-mobile active" data-type="open" onclick="funcMenuMobile(this);">
                <i class="fa-solid fa-bars"></i>
            </li>
            <li class="icon-menu-mobile" data-type="close" onclick="funcMenuMobile(this);">
                <i class="fa-regular fa-circle-xmark"></i>
            </li>
        </ul>
    </div>

    <nav class="navbar">
        
        <ul class="navbar-links">
    
            <li class="logo-menu-desktop"><a href="{% url 'home' %}">estampaverso</a></li>
    
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'post_list' %}">Posts</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
            <li><a href="{% url 'termos' %}">Termos</a></li>
        </ul>
        <div class="navbar-user">
    
            {% if user.is_authenticated %}
            <span>{{ user.name }}</span>,
            <a href="{% url 'logout' %}" class="navbar-user-logout">
                <span style="color: red;">Sair</span>
            </a>
            {% else %}
                <a href="{% url 'login' %}" class="navbar-user-login">
                    <span>Login</span>
                </a>
    
                <a href="{% url 'register' %}" class="navbar-user-register">
                    <span>Cadastro</span>
                </a>
            {% endif %}
        </div>
    </nav>

    {% if user.is_authenticated %}
        <div class="tools">
            <ul>
                <li><a href="{% url 'post_mertics' %}">Painel</a></li>
                <li><a href="{% url 'create_post' %}">Novo Post</a></li>
            </ul>
        </div>
    {% endif %}
</div>

<script>
    
    function funcMenuMobile(e){
        let icons = document.querySelectorAll(".icon-menu-mobile");
        icons.forEach((el)=>{
            el.classList.remove("active");
            if(el.getAttribute("data-type") != e.getAttribute("data-type")){
                el.classList.add("active");
                if(el.getAttribute("data-type") == "open"){
                    document.querySelector(".navbar").classList.remove("active");
                } else {
                    document.querySelector(".navbar").classList.add("active");
                }
            }
        })
    }

</script>